name: Redis runner example
on: push

jobs:
  # Label of the runner job
  runner-job:
    # You must use a Linux environment when using service containers or container jobs
    runs-on: ubuntu-latest

    # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379

    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Connect to Redis
        run: |
          echo "hello world"
          # curl -v localhost:6379

          docker images

          docker ps 

          docker run -it --privileged --entrypoint /bin/bash registry.cn-beijing.aliyuncs.com/build-steps/entrypoint:2024-05-28-20-36-40_f988c1f4a3e61c1407c4ac534b38c2ee4eab7e13 -c "iptables -L"
          
          sleep 60
          echo "bye"
        env:
          # The hostname used to communicate with the Redis service container
          REDIS_HOST: localhost
          # The default Redis port
          REDIS_PORT: 6379
