name: Run tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        # mongodb-version: ['5.0', '6.0']

    steps:
    - name: Git checkout
      uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    # - name: Start MongoDB
    #   uses: supercharge/mongodb-github-action@1.8.0
    #   with:
    #     mongodb-version: ${{ matrix.mongodb-version }}

    - run: | 
       uptime
       ls -al /opt/hostedtoolcache/node/18.18.2/x64
       ls -al /opt/hostedtoolcache/node/18.18.2/
       ls -al /opt/hostedtoolcache/node/
       ls -al /opt/hostedtoolcache/
         

    # - run: npm test
    #   env:
    #     CI: true
    #     TWITTER_CLIENTID: "xxx"
    #     TWITTER_SECRET: "xxx"
    #     GITHUB_CLIENTID: "xxx"
    #     GITHUB_SECRET: "xxx"
    #     LINKEDIN_CLIENTID: "xxx"
    #     LINKEDIN_SECRET: "xxx"
    #     GOOGLE_CLIENTID: "xxx"
    #     GOOGLE_SECRET: "xxx"
